/* Banner */
.banner {
  max-height: 350px;
}
div {
  display: inline-block;
  background-size: cover;
  height: 300px;
  transition: 0.5s;
}
/* Images for banner */
.img0 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  width: 244px;
}
.img1 {
  clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
  width: 244px;

  margin-left: -81px;
}
.img2 {
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
  width: 244px;

  margin-left: -81px;
}

.img0.opened {
  clip-path: polygon(0 0, 100% 0, 89% 100%, 0 100%);
  width: 522px;
}
.img1.opened,
.img2.opened {
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
  width: 522px;
  margin-left: -81px;
}
.closing {
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
  width: 244px;
  margin-left: -81px;
}
.closing.opened {
  clip-path: polygon(17% 0, 100% 0, 100% 100%, 0 100%);
  width: 522px;
  margin-left: -81px;
  background-size: cover;
}
