.banner {
  max-height: 350px;
}
div {
  height: 300px;
  border: 5px solid black;
  width: 25rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .img {
  clip-path: polygon(
    0% 0%,
    100% 0px,
    77.84% 65.19%,
    51.03% 65.53%,
    0px 65%,
    0px 0px
  );
  border: 10px solid cyan;
} */
#img0 {
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
}
#img1 {
  clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
}
#img2 {
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}
